body{
    background-color: #222121;
    font-family: arial,s sans-serif;
    position: center;
    
}
.container {
    padding: 10px auto;
    max-width: 500px auto;
    margin: 100px auto;
    /* background-color: #96d3cb; */
    color: #1de6cb;
    border-radius: 10px ;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    font-size: 25px;
    margin-bottom: 10px;
}

form input {
    padding: 8px;
    border-radius: 10px;
    border: none;
    outline: none;
}

form select {
    padding: 8px;
}

form button {
    padding: 8px;
    background-color: #12a081;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
}
#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; 
}

